{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-4 mb-4 card-group">
        <div class="card bg-dark mb-3 shadow flex-fill text-white">
            <div class="card-body my-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Current Site</h5>
                    <div id="display_site"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4 card-group">
        <div class="card bg-dark mb-3 shadow flex-fill text-white">
            <div class="card-body my-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Last Measurement</h5>
                    <div id="display_date"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gauge_container" class="row">
    <div class="col-4 chart-container">
        <canvas id="gauge_water"></canvas>
    </div>
    <div class="col-4 chart-container">
        <canvas id="gauge_density"></canvas>
    </div>
    <div class="col-4 chart-container">
        <canvas id="gauage_permittivity"></canvas>
    </div>
</div>
<div class="d-flex">
    <div id="display_status" class="alert flex-fill alert-primary" role="alert"></div>
</div>




{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/plotting/gauges.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var source_progress = new EventSource("{{ url_for('eventStreams.measurement_progress')}}");

        var gauge_water_percentage = new Gauge('gauge_water', 'Water Percentage', 0, 100, 0, '%')
        var gauge_density = new Gauge('gauge_density', 'Density', 0, 20, 0, ' g/cm³')
        var gauage_permittivity = new Gauge('gauage_permittivity', 'Relative Permittivity', "{{ config.CONFIG_SYSTEM.nn.permittivity_scale.min }}", "{{ config.CONFIG_SYSTEM.nn.permittivity_scale.max }}", 0, '')

        source_progress.onmessage = function (event) {
            // split the message data
            var data = JSON.parse(event.data);
            console.log(data);
            
            $('#display_site').html(data.site);
            $('#display_date').html(new Date(data.measurement_date).toString().split(' GMT')[0]);
            $('#display_actuator').html(data.actuator_extension);
            $("#current_position").text(data.actuator_extension);

            gauge_water_percentage.setValue(data.water_percentage.toFixed(2));
            gauge_density.setValue(data.density.toFixed(1));
            gauage_permittivity.setValue(data.permittivity.toFixed(1));

            if (data.status == 0) {
                if(data.next_measurement_seconds > 1) {
                    $('#display_status').html(`Next measurment starting in ${data.next_measurement_seconds} seconds.`);
                } else {
                    $('#display_status').html(`Next measurment starting in ${data.next_measurement_seconds} second.`);
                }
                $('#display_status').removeClass('alert-success');
                $('#display_status').addClass('alert-primary');
            } else if (data.status == 1) {
                $('#display_status').html('Measuring...');
                $('#display_status').removeClass('alert-primary');
                $('#display_status').addClass('alert-success');
            }

        };


        var current_position = 0;

    });
</script>
{% endblock %}
