{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="h-100 p-5 text-white bg-dark rounded-3 position-relative">
            <h2>Calibration</h2>
            <p>Calibrate the VNA and antenna.</p>
            <a href="{{ url_for('main.calibration') }}" class="btn btn-outline-light stretched-link">Calibration</a>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="h-100 p-5 text-white bg-dark rounded-3 position-relative">
            <h2>Measure</h2>
            <p>Start measuring the tailings.</p>
            <a href="{{ url_for('main.measure') }}" class="btn btn-outline-light stretched-link">Measure</a>
        </div>
    </div>
</div>

{% endblock %}
