{% extends "layout.html" %}

{% block content %}

<!-- Container for machine number and section divider -->
<div class="mb-3">
    <h1>{{ config.CONFIG_MACHINE.machineNumber }}</h1>
    <hr>
</div>

<!-- Container for mounting system controls -->
<div id="mount_controls" class="row bg-light">
    <!-- Left column: Sensor Controls and Error Indicators -->
    <div class="col-md-6 mb-4">
        <div class="h-100 p-5 text-white bg-success rounded-3 position-relative">
            <h2>VNA Sensor Controls</h2>
            <p style="margin: 10px;">
            </p>

            <div id="indicator-check-text">
                <p style="
                    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 0px 0px 5px white;
                    ">
                    Check the indicators at the top right are Blue.
                    If not reconnect Sensor and Actuator to Computer. Then refresh the page.

                </p>
            </div>

            <h5>Settings</h5>
            <div class="form-group">
                <label for="measurement-delay-select">Select Measurement Delay:</label>
                <select id="measurement-delay-select" class="form-control">
                    <!-- Populate measurement delay options dynamically -->
                    {% for delay in measurement_delays %}
                    <option value="{{ delay }}" {% if delay == current_measurement_delay %}selected{% endif %}>
                        {{ delay }} Seconds
                    </option>
                    {% endfor %}
                </select>
            </div>
            <br>

            <h5>Known Error Indicators</h5>
            <p>Used for troubleshooting if program runs into known issues.</p>
            <div style="display: flex;">
                <!-- Error indicators for troubleshooting -->
                <div class="nav-item my-auto">
                    <span class="fas fa-map-marker-alt mx-1 text-center align-middle"
                        style="vertical-align: middle; text-align: center; color: gray"
                        id="teltonikaErrorIndicator" title=""></span>
                </div>
                <div class="nav-item my-auto">
                    <span class="fas fa-clock mx-1 text-center align-middle"
                        style="vertical-align: middle; text-align: center; color: gray"
                        id="vnaReadTimeoutErrorIndicator" title=""></span>
                </div>
                <div class="nav-item my-auto">
                    <span class="fas fa-pen mx-1 text-center align-middle"
                        style="vertical-align: middle; text-align: center; color: gray"
                        id="ActuatorReadWriteErrorIndicator" title=""></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Right column: Control Buttons -->
    <div class="col-md-6 mb-4">
        <div class="h-100 py-3 rounded-3 position-relative">
            <div class="row">
                <div class="col-10">
                    <div class="d-grid gap-4">
                        <div class="card border-success mt-4">
                            <div class="card-header bg-success text-white">
                                <h4 class="mb-0">Current Action</h4>
                            </div>
                            <div class="card-body">
                                <span id="current_action" style="
                                    color: green;  /* Green color for text */
                                    font-weight: bold; 
                                    background-color: white; 
                                    
                                    border-radius: 4px; 
                                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
                                    
                                ">Waiting for server to update state infomation ...</span>
                            </div>
                        </div>

                        <!-- Button to start/stop measurements -->
                        <button id="run-measurements-button" class="btn btn-success btn-lg"
                            data-distance="{{ config.CONFIG_SYSTEM.mountingSystem.extend_distance }}"
                            type="button">Run/Stop Measurements
                            <div class="nav-item my-auto">
                                <span class="fas fa-power-off mx-1 text-center align-middle"
                                    style="vertical-align: middle; text-align: center; color: gray"
                                    id="RunningMesurementsButtonIndicator" title=""></span>
                            </div>
                        </button>

                        <!-- Button to retract and cancel measurements -->
                        <button id="retract-button" class="btn btn-danger btn-lg" type="button">Retract and Cancel
                            Measurements
                            <div class="nav-item my-auto">
                                <span class="fas fa-power-off mx-1 text-center align-middle"
                                    style="vertical-align: middle; text-align: center; color: gray"
                                    id="RetractButtonIndicator" title=""></span>
                            </div>
                        </button>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // Create an EventSource instance to receive actuator position updates
    var source_actuator = new EventSource("{{ url_for('eventStreams.mountingSystem_actuator_position') }}");

    // Handle incoming messages from the EventSource
    source_actuator.onmessage = function (event) {
        var data = JSON.parse(event.data);
        console.log(data);
        // Update the displayed actuator position
        $("#current_position").text(data.position);
    };

    // Function to start or stop measurements
    function runMeasurementAction() {
        $("#current_action").html("Extending actuator then Running Measurements <br> Press Same button to Stop measurements From logging");
        $.ajax({
            url: '/mounting-system-v2/Measure',
            type: 'GET',
            success: function (response) {
                if (response.error) {
                    console.error('Error:', response.error);
                    $("#current_action").html(response.error); // Display error message
                } else {
                    console.log('Measurements completed:', response);
                    $("#current_action").html(response.message); // Success message
                }
            },
            error: function (error) {
                console.error('Error while running measurements:', error);
                $("#current_action").html("Error While Running Measurements");
            }
        });
    }

    // Function to fully retract the actuator
    function fullyRetract() {
        $("#current_action").html("Retracting Actuator And Canceling Measurements <br> Do not Press another button");
        $.ajax({
            url: '/mounting-system-v2/fullyRetract',
            type: 'GET',
            success: function (response) {
                if (response.error) {
                    console.error('Error:', response.error);
                    $("#current_action").html(response.error); // Display error message
                } else {
                    console.log('Fully retracted:', response);
                    $("#current_action").html("Actuator Fully Retracted <br> Ready for next Command"); // Success message
                }
            },
            error: function (error) {
                console.error('Error while retracting:', error);
                $("#current_action").html("Error while Retracting");
            }
        });
    }

    // Event listeners for button clicks
    $('#calibrate-button').click(function () {
        calibrateButtonAction(); // Call the function to calibrate
    });

    $('#run-measurements-button').click(function () {
        runMeasurementAction(); // Call the function to start/stop measurements
    });

    $('#retract-button').click(function () {
        fullyRetract(); // Call the function to fully retract
    });

    $(document).ready(function () {
        // Convert server-side variables to JavaScript
        var measurement_delay_list = JSON.parse('{{ measurement_delays | tojson | safe }}');
        var current_measurement_delay = '{{ config.CONFIG_RUN.measurement_manager.measurement_delay }}';

        // Event listener for measurement delay dropdown change
        $('#measurement-delay-select').change(function () {
            var selectedDelay = $(this).val();
            $.ajax({
                url: '{{ url_for("main.settings_post") }}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ measurement_delay: selectedDelay }),
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("Failed to update measurement delay.");
                }
            });
        });
    });

    // Create an EventSource instance to receive system status updates
    var source_status_indicators = new EventSource("{{ url_for('eventStreams.systemStatusIndicators') }}");

    // Handle incoming messages from the EventSource
    source_status_indicators.onmessage = function (event) {
        var data = JSON.parse(event.data);
        console.log(data);

        // Update status indicators based on received data
        $("#vnaReadTimeoutErrorIndicator").css("color", data.errorMeasureing == 0 ? "#007BFF" : "red")
            .attr('title', data.errorMeasureing == 0 ? "When Red Timeout occurred while reading VNA data" : "Error occurred while reading VNA data");

        $("#ActuatorReadWriteErrorIndicator").css("color", data.errorActuatorReadWrite == 0 ? "#007BFF" : "red")
            .attr('title', data.errorActuatorReadWrite == 0 ? "When Red ReadWrite error occurred when communicating with actuator" : "Error communicating with actuator");

        $("#teltonikaErrorIndicator").css("color", data.errorTeltonika == 0 ? "#007BFF" : "red")
            .attr('title', data.errorTeltonika == 0 ? "GPS is good" : "Error with GPS");

        $("#RetractingActuator").css("color", data.CurrentlyRetracting == 0 ? "gray" : "#007BFF")
            .attr('title', data.CurrentlyRetracting == 0 ? "not Currently Retracting" : "Currently Retracting");

        $("#RunningMesurementsButtonIndicator").css("color", data.CurrentlyLogging == 0 ? "gray" : "#007BFF")
            .attr('title', data.CurrentlyLogging == 0 ? "not Currently Logging" : "Currently Logging");

        $("#indicator-check-text").css('color', data.vnaConnection == 2 && data.mountingSystemConection == 0 && data.teltonikaConnection == 1 ? "blue" : "red");

        // Check if RunningMeasurementsButtonIndicator is active
        if (data.CurrentlyLogging == 0) {
            // Not logging measurements
            if (data.CurrentlyRetracting == 0) {
                $("#current_action").html("Not currently performing any action");
            }
        } else {
            // Logging measurements
            $("#current_action").html("Currently logging measurements...");
        }

    };
</script>
{% endblock %}